
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500&display=swap');

*{
    box-sizing: border-box;
}
html{
    // font-size: 10px;
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Public Sans', sans-serif;
    
}